# Librería Pandas

In [ ]:
import pandas as pd

## Series

In [ ]:
navegadores = ["Safari", "Chrome", "Firefox"]
serie_navegadores = pd.Series(navegadores)

In [ ]:
serie_navegadores

0     Safari
1     Chrome
2    Firefox
dtype: object

In [ ]:
etiquetas = ["Rojo", "Verde", "Azul"]
datos_colores = [[256, 0, 0], [0, 256, 0], [0, 0, 256]]
serie2 = pd.Series(datos_colores, index=etiquetas)

In [ ]:
serie2

Rojo     [256, 0, 0]
Verde    [0, 256, 0]
Azul     [0, 0, 256]
dtype: object

## DataFrame

In [ ]:
dataFrame1 = pd.DataFrame({"Navegadores": navegadores, "Colores": etiquetas})
dataFrame1

  Navegadores Colores
0      Safari    Rojo
1      Chrome   Verde
2     Firefox    Azul

In [ ]:
dataset1 = pd.read_csv("sample_data/california_housing_train.csv")

In [ ]:
dataset1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
dataset1.to_csv("sample_data/dataset_exportado.csv", index=False)

In [ ]:
dataset1.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
dataset1.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
dataset1.shape

(17000, 9)